@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 3.5rem;
    --hue: 255;
    --first-color: hsl(var(--hue), 60%, 64%);
    --first-color-alt: hsl(var(--hue), 80%, 56%);
    --first-color-alt-2: hsl(var(--hue), 60%, 56%);
    --first-color-light: hsl(var(--hue), 60%, 74%);
    --title-color: hsl(240, 8%, 95%);
    --text-color: hsl(240, 8%, 70%);
    --text-color-light: hsl(240, 8%, 50%);
    --body-color: hsl(240, 100%, 2%);
    --container-color: hsl(240, 8%, 6%);
    --body-font: "Montserrat", sans-serif;
    --second-font: "Unbounded", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reusable CSS Classes matching UTube-code */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: 1.5rem;
    /* Default h1-font-size */
    margin-bottom: 3rem;
}

@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section__title {
        font-size: 2.25rem;
    }
}

.main {
    overflow: hidden;
}